# Copyright 2020 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


{% set CLUSTER_NAME = env['deployment'] + '-' + env['name'] %}
{% set DEPLOYMENT_NAME = env['deployment'] %}
resources:
- name: {{ properties['k8s_cluster'].name }}
  type: container.v1.cluster
  properties:
    zone: {{ properties['k8s_cluster'].zone }}
    cluster:
      name: {{ properties['k8s_cluster'].name }}
      {% if properties["k8s_cluster"].monitoringService %}
      monitoringService: {{ properties["k8s_cluster"].monitoringService }}
      {% endif %}
      {% if properties["k8s_cluster"].httpLoadBalancing is defined %}
      addonsConfig:
        httpLoadBalancing:
          disabled: {{ not properties["k8s_cluster"].httpLoadBalancing }}
      {% endif %}
      {% if properties["k8s_cluster"].locations %}
      locations: {{ properties["k8s_cluster"].locations.split(",") }}
      {% endif %}
      {% if properties["k8s_cluster"].currentMasterVersion %}
      currentMasterVersion: {{ properties["k8s_cluster"].currentMasterVersion }}
      {% endif %}
      {% if properties["k8s_cluster"].initialClusterVersion %}
      initialClusterVersion: {{ properties["k8s_cluster"].initialClusterVersion }}
      {% endif %}
      nodePools:
      - name: apigee-data
        config:
          metadata:
            "disable-legacy-endpoints": "true"
          machineType: {{ properties["k8s_cluster"].instanceType }}
          diskSizeGb: {{ properties["k8s_cluster"].diskSizeGb }}
          oauthScopes:
          - https://www.googleapis.com/auth/logging.write
          - https://www.googleapis.com/auth/monitoring
          - https://www.googleapis.com/auth/devstorage.read_only
          imageType: {{ properties["k8s_cluster"].imageType }}
          labels:
            "apigee.com/apigee-logger-enabled": "true"
        {% if properties["k8s_cluster"].nodeVersion %}
        version: {{ properties["k8s_cluster"].nodeVersion }}
        {% endif %}
        initialNodeCount: {{ properties["k8s_cluster"].initialNodeCount }}
        autoscaling:
          enabled: {{ properties["k8s_cluster"].autoscaling }}
          {% if properties["k8s_cluster"].autoscaling %}
          minNodeCount: 3
          maxNodeCount: 4
          {% endif %}
        management:
          autoUpgrade: {{ properties["k8s_cluster"].autoUpgrade }}
          autoRepair: {{ properties["k8s_cluster"].autoRepair }}
      - name: apigee-runtime
        config:
          metadata:
            "disable-legacy-endpoints": "true"
          machineType: {{ properties["k8s_cluster"].instanceType }}
          diskSizeGb: {{ properties["k8s_cluster"].diskSizeGb }}
          oauthScopes:
          - https://www.googleapis.com/auth/logging.write
          - https://www.googleapis.com/auth/monitoring
          - https://www.googleapis.com/auth/devstorage.read_only
          imageType: {{ properties["k8s_cluster"].imageType  }}
          labels:
            "apigee.com/apigee-logger-enabled": "true"
        {% if properties["k8s_cluster"].nodeVersion %}
        version: {{ properties["k8s_cluster"].nodeVersion }}
        {% endif %}
        initialNodeCount: {{ properties["k8s_cluster"].initialNodeCount }}
        autoscaling:
          enabled: {{ properties["k8s_cluster"].autoscaling }}
          {% if properties["k8s_cluster"].autoscaling %}
          minNodeCount: 3
          maxNodeCount: 4
          {% endif %}
        management:
          autoUpgrade: {{ properties["k8s_cluster"].autoUpgrade }}
          autoRepair: {{ properties["k8s_cluster"].autoRepair }}
- type: runtimeconfig.v1beta1.config
  name: {{ CLUSTER_NAME }}-config
  properties:
    config: {{ CLUSTER_NAME }}-config
- type: runtimeconfig.v1beta1.waiter
  name: {{ CLUSTER_NAME }}-waiter
  metadata:
    dependsOn:
    - {{ CLUSTER_NAME }}-config
  properties:
    parent: $(ref.{{ CLUSTER_NAME }}-config.name)
    waiter: {{ CLUSTER_NAME }}-waiter
    timeout: 900s
    success:
      cardinality:
        path: /success
        number: 1
    failure:
      cardinality:
        path: /failure
        number: 1

- type: apigee-overrides.jinja
  name: apigee-cluster
  metadata:
    dependsOn:
    - {{ properties['k8s_cluster'].name }}
  properties:
    k8s_cluster: {{properties['k8s_cluster']}}
    apigee: {{ properties['apigee']}}
          